.calculator {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 60px auto 0;
}

.calculator .calculator_output {
    margin-bottom: 15px;
    text-align: right;
    font-size: 24px;
}

.calculator .calculator_numbers {
    flex: 1 0 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.calculator .calculator_numbers .btn {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.calculator .calculator_operations {
    flex: 1 0 100%;
    margin-bottom: 15px;
    display: flex;
    flex-flow: row wrap;
}

.calculator .calculator_operations .btn {
    width: 25%;
    height: 50px;
    border-radius: 0;
    border-color: #333;
}

.calculator .calculator_calculate {
    flex: 1 0 30%;
}

.calculator .calculator_calculate .btn {
    width: 100%;
    height: 100%;
}